/.idea/
*.iml
.DS_Store
**/target/
**/node_modules/
**/dist/
*.iml
.idea/
.vscode/

**/target/
**/build/
**/dist/
**/out/

frontend/node_modules/
frontend/.vite/
frontend/.scannerwork/

*.log
.DS_Store
Thumbs.db
